@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

/* body {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;

} */

h1 {
	font-weight: 600;
	margin: 0;
	font-size: 40px;
}


p {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
	margin-bottom: 40px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 20px 0;
}

.btn-login {
	border-radius: 10px;
	border: 1px solid #008CBA;;
	background-color: #008CBA;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	padding: 12px 25px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	cursor: pointer;
	font-family: 'Poppins';
	margin-right: 30px;
}

.btn-login:active {
	transform: scale(0.95);
}

.btn-login:focus {
	outline: none;
}

.btn-login.ghost {
	cursor: pointer;
	background-color: transparent;
	border-color: #FFFFFF;
}

.btn-login.ghost:hover{
	cursor: pointer;
	color: #008CBA;
	background-color: #fff;
	border-color: transparent;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: 1px solid transparent;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
	font-family: "Poppins";
	/* color: #008CBA; */
}

.input:focus{
	color: #008CBA;
	/* border-color: #008CBA; */
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #008CBA;;
	background: -webkit-linear-gradient(to right, #008CBA, #008CBA);
	background: linear-gradient(to right, #008CBA, #008CBA);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}
.google{
	display: flex;
    /* width: 100%; */
	background-color: #DB4A39;
	cursor: pointer;
}
.list-style{
	list-style-type: none;
	

}
.white{
	color: white;

}
.login-btn{
	margin-top: 15px;
    display: flex;
    /* justify-content: space-between; */
    /* width:50%; */
}
.p-left12{
	padding-left: 10px;
}
